# 1. List are used to store multiple items in a single variable.
# 2. List are created using [] brackets.
# 3. List allows duplicate values.

In [16]:
thislist = ["apple","mango","banana"]
print(thislist)

['apple', 'mango', 'banana']

In [18]:
type(thislist)

list

In [20]:
thislist2 = ["apple", 1 , 2.3 ,5j , True]  # List give the output of string item in ''.
print(thislist2)

['apple', 1, 2.3, 5j, True]

In [22]:
type(thislist2)

list

In [27]:
fruits = ["apple","bananas","mangos","apple","grapes","pineaple","papaya","orange"] # List allows duplicate value = apple
print(fruits)

['apple', 'bananas', 'mangos', 'apple', 'grapes', 'pineaple', 'papaya', 'orange']

In [31]:
len(fruits)

8

In [33]:
# Indexing
print(fruits[2])
print(fruits[3])

mangos
apple

In [35]:
#Negative Indexing
print(fruits[-1])
print(fruits[-4])

orange
grapes

In [37]:
print(fruits[1:8])

['bananas', 'mangos', 'apple', 'grapes', 'pineaple', 'papaya', 'orange']

In [45]:
# Conditional Statement
if "bananas" in fruits:
 print("Yes , It is there")
else:
 print("No , It is not there")

Yes , It is there

In [46]:
if "kiwi" in fruits:
 print("Yes , It is there")
else:
 print("No , It is not there")

No , It is not there

In [50]:
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrent"
print(thislist)

['apple', 'blackcurrent', 'cherry']

In [52]:
thislist = ["apple","banana","cherry"]
thislist.append("Kiwi")
print(thislist)

['apple', 'banana', 'cherry', 'Kiwi']

In [56]:
thislist = ["apple","banana","cherry"]
thislist.insert(1,"papaya")
print(thislist)

['apple', 'papaya', 'banana', 'cherry']

In [64]:
thislist = ["apple","banana","cherry"]
thislist.remove("cherry") # Remove will take the item and value as an input
print(thislist)

['apple', 'banana']

In [1]:
thislist = ["apple","banana","cherry"]
thislist.pop(1) # Pop will take the index number as an input
print(thislist)

['apple', 'cherry']

# Tuples are used to store multiple iteams in a single variable. A tuple is a collection which is ordered and unchangeable. 
# Tuples are written with round brackets

In [9]:
tup = ('apple' , 'mango' , 'banana', 'kiwi' , "peach" , "papaya" , "orange")
print(tup)
type(tup)

('apple', 'mango', 'banana', 'kiwi', 'peach', 'papaya', 'orange')

tuple

In [11]:
len(tup)

7

In [15]:
print(tup[2])

banana

In [18]:
print(tup[1:6])

('mango', 'banana', 'kiwi', 'peach', 'papaya')

In [20]:
x = ("apple" , "kiwi" , "banana")
y = list(x)
y[1] = "cherry"
x = tuple(y)
print(x)

('apple', 'cherry', 'banana')

In [24]:
x = ("apple" , "kiwi" , "banana")
y = list(x)
y.remove("kiwi")
x = tuple(y)
print(x)

('apple', 'banana')

In [26]:
x = ("apple","banana","cherry")
print(x)
del(x)
print(x)

('apple', 'banana', 'cherry')

NameError: name 'x' is not defined

# Sets are used to store multiple iteams in a single variable.
# A set is a collection which is unordered,unchangeable set written using {}.
# Duplicates values are not allowed.

In [34]:
thisset = {"APPLE", "BANANA" ,"CHERY"}
print(thisset)
print(type(thisset))

{'BANANA', 'CHERY', 'APPLE'}
<class 'set'>

In [36]:
thisset = {"APPLE", "BANANA" ,"CHERY", "APPLE"}
print(thisset)

{'BANANA', 'CHERY', 'APPLE'}

In [38]:
len(thisset)

3

In [46]:
thisset = {"apple" , "banana" , "cherry"}
for x in thisset:
 print(x)

banana
apple
cherry

In [48]:
thisset = {"apple" , "banana" , "cherry"}
print("kiwi" in thisset)

False

In [50]:
thisset = {"apple" , "banana" , "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [54]:
thisset = {"apple" , "banana" , "cherry"}
thisset.remove("cherry")
print(thisset)

{'banana', 'apple'}

In [56]:
thisset = {"apple" , "banana" , "cherry"}
thisset.discard("kiwi")
print(thisset)

{'banana', 'apple', 'cherry'}